body {
    background-color: RGBA(232, 52, 78, 0.2);
    min-height: 100vh;
}

.banner {
    width: 100%;
    height: 350px;

    background-color: white;
    background-image: url(../image/title_image.png);

    background-position: center 25%;
    background-size: cover;
    background-repeat: no-repeat;

    cursor: pointer;
}

.section {
    padding: 1rem 1.5rem;
    max-width: 750px;
    margin: auto;
}

.pjlogo {
    padding: 0px 0px 20px 0px;
    max-width: 750px;
    margin: 0px 0px 0px 0px;
}


.is-sparta {
    color: #e8344e !important;
}

.button.is-sparta {
    background-color: #e8344e;
    border-color: transparent;
    color: #fff !important;
}

.button.is-sparta.is-outlined {
    background-color: transparent;
    border-color: #e8344e;
    color: #e8344e !important;
}

.help {
    color: gray;
}


.navimg {
    padding: 0px 0px 0px 0px;
    max-width: 750px;
    margin: 0px 0px 0px 0px;

}

li {
    list-style: none;
    margin: 10px 0;
}

input, select {
    height: 41px;
    width: 450px;
    border-color: gainsboro;
    border-radius: 5px;
}

.select#yy {
    margin-top: 10px;

    width: 155px;
    height: 41px;

}

.select#mm {
    margin-top: 10px;
    width: 143px;
    height: 41px;

}

.select#dd {
    margin-top: 10px;

    width: 143px;
    height: 41px;

}

.select#sex {
    margin-top: 10px;
    margin-bottom: 5px;

}