<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="Tasty Wifi" content="width=device-width, initial-scale=1.0"/>
    <title>Tasty Wifi</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bulma CSS 링크 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    <!-- post_save CSS 링크 -->
    <link rel="stylesheet" type="text/css" href="../static/css/post_save.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    {#    main_style CSS#}
    <link rel="stylesheet" type="text/css" href="../static/css/main_style.css">
    {#    구글폰트#}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

     {#favicon & ogtag#}
    <link rel="shortcut icon" href="{{ url_for('static', filename='../static/image/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='../static/image/favicon.ico') }}" type="image/x-icon">
    <meta property="og:title" content="TastyWifi - 나만 알기 아쉬운 맛집 공유 플랫폼"/>
    <meta property="og:description" content="mini project"/>
    <meta property="og:image" content="{{ url_for('static', filename='../static/image/800x400.png') }}"/>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    {# mainpost JavaScript #}
    <script src="../static/js/mainpost.js"></script>


    <script>
        $(document).ready(function () {
            get_posts()
        })
    </script>

</head>
<body>
<div class="wrap">
    <!-- 상단 로고 네비게이션 바-->
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="{{ url_for('static', filename='../static/image/tastywifi_logo.png') }}">
        </a>
    </div>
    {#        logout 버튼#}
    <section class="section_bar">
        <div class="container">
            <h2 class="subtitle">
                <button onclick="sign_out()" class="button is-light" id="posting-btn">Logout</button>
            </h2>
        </div>
    </section>

    <!--배너-->
    <div class="banner" onclick="window.location.href = '/'">
    </div>

    {#    포스팅 추가하기 버튼#}
    <div class="btn_big_wrap">
        <div class="post_btn_background">
            <div class="post-btn">
                <button onclick="window.location.href='post_save'" class="button is-primary" id="posting-btn">포스팅 추가하기
                </button>
            </div>
        </div>
    </div>

    <!-- 섹션  -->
{#    <section class="section_bar">#}
{#        <div class="container">#}
{#        </div>#}
{#    </section>#}

{#    <!--  포스터 -->#}
    <section class="section">
        <div class="mycards">
            <div id="post-box" class="container">
                <div class="box">
                </div>
            </div>

        </div>
    </section>
</div>
</body>
</html>

